body {
  background: #001628;
  color: #777;
  padding: 4em;
  font-family: sans-serif;
  line-height: 1.15;
}

.App {
  font-family: sans-serif;
  text-align: center;
  padding: 2em;
  max-width: 1100px;
  background: #cecece;
}
